# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfstate.*.backup
infra/*.tfvars

# Credenciales AWS (nunca commitear)
.aws/
credentials

# Modelos y datos
*.pkl
*.joblib
*.csv
*.jsonl
*.h5
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Misc
.DS_Store
.env
*.log

# scraper data
scraper/data/
*.db